.more-page {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px;
   
}
.more-page > div {
    display: flex;
    padding: 30px;
    border: 3px solid var(--c-border-color);
    border-radius: 9px;
}
.more-page > div > * {
    margin: 10px;
}