@import './variables.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
  }
  a {
    text-decoration: none;
  }
  html {
    font-size: 15px;
  }
  body {
    font-size: 1rem;
    font-family:'FreeSans','FreeSansBold'; 
    background-color: var(--c-primary);
    color: var(--c-text-color);
  }
  
  @font-face {
    font-family: 'FreeSans';
      src: url('fonts/FreeSans.eot'); /* IE9 Compat Modes */
      src: url('fonts/FreeSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/FreeSans.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/FreeSans.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/FreeSans.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/FreeSans.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: 'FreeSansBold';
      src: url('fonts/FreeSansBold.eot'); /* IE9 Compat Modes */
      src: url('fonts/FreeSansBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/FreeSansBold.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/FreeSansBold.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/FreeSansBold.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/FreeSansBold.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }

  @media (min-width: 1000px){
   body {
      overflow-y: scroll;
    }
  }

  .loading {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .green:hover svg {
    color: rgb(23, 191, 69);
  }
  .green:hover {
    background-color: rgba(23, 191, 99, 0.1)
  }
  .red:hover svg {
    color: rgb(224, 36, 94);
  }
  .red:hover  {
    background-color: rgba(224, 36, 94, 0.1);
  }