.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    top: 0;
    padding-left: 15px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

.sidebar__babble {
  margin-top: 16px;
  margin-bottom: 20px;
}
.sidebar__profile {
  width: 90%;
  margin-top: auto;
  margin-bottom: 14px;
}
.layout-explore--search{
  margin-top: 30px;
  margin-bottom: 25px;
  position: sticky;
  z-index: 999;
}

  @media (min-width: 1270px) {
    .sidebar {
        align-items: flex-start;
        width: 250px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebar__babble {
      width: 80%;
    }
  
}
 